{% extends "base.html" %}

{% block pageHeader %}
Edit Note: {{note.title}}
{% endblock %}

{% block instructions %}
Edit and submit note here.
{% endblock %}

{% block form %}
<form class="form-inline" action={{url_for('editNote', topic_id=topic.id, note_id=note.id)}} method="post">
    <input type="text" placeholder="Title" name="title" maxlength="20" value="{{note.title}}"/>
    <input type="text" placeholder="Message" name="message" maxlength="200" value="{{note.message}}"/>
    <input type="submit" value="Submit">
</form>
{% endblock %}

{% block content %}
<a href={{url_for('home')}}>Return to home page</a>
{% endblock %}