{% extends "base.html" %}

{% block pageHeader %}
Rename Topic: {{topic.topic}}
{% endblock %}

{% block instructions %}
Edit and submit new topic name here.
{% endblock %}

{% block form %}
<form class="form-inline" action={{url_for('renameTopic', topic_id=topic.id)}} method="post">
    <input type="text" placeholder="{{topic.topic}}" value="{{topic.topic}}" name="newTopic" maxlength="20"/>
    <input type="submit"/>
</form>
{% endblock %}

{% block content %}
<a href={{url_for('home')}}>Return to home page</a>
{% endblock %}