<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Topic</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="/static/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h1>Topic: {{topic.topic}}</h1>
        <h4>Create new notes here!</h4>
        <div class="container">
            <form class="form-inline" action={{url_for('topic', topic_id=topic.id)}} id="newNote" method="post">
                <input type="text" placeholder="Title" name="title" maxlength="20"/>
                <input type="text" placeholder="Message" name="message" maxlength="200"/>
                <input type="submit" value="Submit" >
            </form>
        </div>
        <div id="notes">
            {% for note in notes %}
            <div class="note">
                <b>
                    Note #{{note.id}}, {{note.title}}
                </b>
                <br>
                Last Updated: {{note.lastUpdatedTime}}
                <br>
                {{note.message}}
                <br>
                <a href={{url_for('deleteNote', topic_id=topic.id, note_id=note.id)}}>Delete <b>{{note.title}}</b></a>
                <br>
                <a href={{url_for('editNote', topic_id=topic.id, note_id=note.id)}}>Edit <b>{{note.title}}</b></a>
            </div>
            {% endfor %}
        </div>
    <a href={{url_for('home')}}>Return to home page</a>
    </body>
</html>